# copy this file to config.env and change these variables
export GH_TOKEN=github_pat_xxxxxxxxxxxxxxxxxxxxxxx
#export GH_ENTERPRISE_TOKEN=
#export GH_HOST=githubenterprise.subdomain.your.org
export GH_HOST=github.com
export GH_ORG=yourorgname
export LOCAL_REPOS_DIR=/tmp/repos
# SARIF_IMPORTER is a relative path from this folder to the sarif import script
export SARIF_IMPORTER=../importers/sarif.py
export SECSCANDB_URL="http://localhost:8000/api/upsert_data"
export LOG_FILE=/tmp/secscandb.log
